@media (min-width: 320px) and (max-width: 1080px) {
    .aboutUsPc_mob {
        width: 100%;
    }

    .freetrial_backclr {
        background-color: #eaeaea;
        padding: 1% 20px 0;
    }

}

.pad_0 {
    padding: 0;
}

.btn_style {
    margin-right: 5px;
    padding: 0px 20px;
}
