
.passwrd_errorclass{
	position: relative!important;
    /*left: 184px!important;*/
    font-size: 10px!important;
    top: 20px !important;
    color: red!important;
}
.passwrd_errorclass_mssg {
    position: relative !important;
    /*left: 483px !important;*/
    font-size: 10px !important;
    top: 123px !important;
    color: red !important;
}
.display_none{
	display: none
}
.pos_relative{
    position: relative;
}
.marg_bot_10{
        margin-bottom: 10px;
}
.font_normal{
    font-size: 14px!important;
}
.mar_left{
        margin-left: 37px!important;
}
/*Main Css */
::selection { background: #6ca840; color: #fff; text-shadow: none; }

body {font-family: 'Montserrat',sans-serif;overflow-x: hidden; }
h1,
h2,
h3,
h4,
h5,
h6,
p{display: block;}
*:hover,
*:focus,
* { outline: none !important; }
img { max-width: 100%; height: auto; }
a,input[type="submit"] { -webkit-transition: all 0.4s ease-In-out; -moz-transition: all 0.4s ease-In-out; -o-transition: all 0.4s ease-In-out; transition: all 0.4s ease-In-out;  }
a{display: inline-block;}
a:hover{color: #6ca840;}
p,a { 
    font-size: 16px;
     font-weight: 400; }
p{ line-height: 24px; color: rgba(34, 47, 62, 0.60);}
strong,.bold{font-weight: bold;}
.italic{font-style: italic;}

[class^="box-"]{display:none}
[class^="box-"].showfirst{display:block}


/* Custom Slick Css */
.slick-list { margin: 0 -15px; }
.slick-slide { margin: 0 15px; }
ul.slick-dots { padding: 30px 0; text-align: center; }
ul.slick-dots li { margin: 0 10px 0 0px; width: auto; display: inline-block; vertical-align: middle; overflow: hidden; padding: 0px; border: none; }
.slick-dots li button:before,
.slick-dots li button:before { color: #FFF; opacity: 1; font-size: 20px; }
.slick-dots li button {height: 11px;width: 11px;border-radius: 50%;padding: 0px;background: transparent;border: 2px solid #fff;font-size: 0px;opacity: 0.5;padding: 0px;-webkit-transition: all 0.4s ease-In-out;-moz-transition: all 0.4s ease-In-out;-o-transition: all 0.4s ease-In-out;transition: all 0.4s ease-In-out;box-sizing: border-box;}
.slick-dots li.slick-active button {background: #fff;opacity: 1;}

span.arrows {width: 42px;height: 42px;z-index: 2;cursor: pointer;line-height: 40px;font-size: 11px;text-align: center;font-weight: 300;color: #fff;border: 2px solid rgba(255,255,255,0.2);border-radius: 50%;display: inline-block !important;margin: 0 5px;}
span.arrows.next { right: 0%; }
span.arrows.prev { left: 0%; }
.slick-disabled{opacity: 0.5;}
.slick-dots li button{border: 2px solid #6ca840;}
.slick-dots li.slick-active button{background: #6ca840;}


textarea,
select,
input[type],
textarea,
select{font-family: 'Montserrat',sans-serif; background: transparent;border: none;border-radius: 0px;  }
::-webkit-input-placeholder { color:#7d7d7d; }
::-moz-placeholder { color:#7d7d7d; }
:-ms-input-placeholder { color:#7d7d7d; }
:-moz-placeholder { color:#7d7d7d; }

/*input[type="submit"]{font-size: 23px; color: #fff;font-weight: bold; width: 237px; height: 60px; line-height: 60px; text-align: center;border-radius: 60px;background: #32d9c3;border: 1px solid #32d9c3;cursor: pointer;}
input[type="submit"]:hover{background: transparent; color:#32d9c3;  }*/


/* Hamburger Menu */
.menu-Bar {width: 30px;height: 20px;cursor: pointer;position: absolute;right: 15px;top: 0;bottom: 0;margin: auto;display: none;z-index: 3;}
.menu-Bar span { display: block; height: 4px; width: 100%; background: #6ca840; position: absolute; transition: .6s all; border-radius: 100px; }
.menu-Bar span:nth-child(1) { top: 0; }
.menu-Bar span:nth-child(2) { top: 8px; transform-origin: left; }
.menu-Bar span:nth-child(3) { top: 16px; }
.menu-Bar.open span{background: #fff;}
.menu-Bar.open span:nth-child(1) { transform: rotate(45deg); top: 12px; transform-origin: right-center; }
.menu-Bar.open span:nth-child(2) { width: 0; opacity: 0; }
.menu-Bar.open span:nth-child(3) { transform: rotate(-45deg); top: 12px; transform-origin: right-center; }

/* Padding Classes */
.nopad-top {
	padding-top:0 !important;
}
.pad-sec { padding: 100px 0; }
.pad-sec90{padding: 90px 0;}
.pad-sec80{padding: 80px 0;}
.pad-sec70{padding: 70px 0;}
.pad-sec60{padding: 60px 0;}
.pad-sec50{padding: 50px 0;}
.pad-sec40{padding: 40px 0;}
.pad-sec10{padding: 10px 0;}
.pad50{padding: 50px;}
.pad40{padding: 40px;}
.pad30{padding: 30px;}
.pad20{padding: 20px;}
.pad10{padding: 20px;}

.pad-l-zero { padding-left: 0px; }
.pad-r-zero { padding-right: 0px; }
.pad-zero{padding: 0px;}


/* Global Css */
.posRel { position: relative; }

.overlay:after { content: ""; position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0, 0, 0, 0.60); z-index: 1; }
.overlay { display: none; }
.overlay.active { display: block; }
.btn{font-size: 14px;color: #fff;font-weight: 500;padding: 0;min-width: 177px;height: 55px;line-height: 55px;display: inline-block;border-radius: 60px;background: #6ca840;box-shadow: 0 20px 30px 0 rgba(108, 168, 64, 0.7);}
.btn:hover{color:#fff; opacity: 0.7;box-shadow: none;}
.btn.btn1{min-width: 207px; letter-spacing: 3px;}
.btn.btn1.style1{background: #fff;color: #6ca840;box-shadow: none; }
.trans{ -webkit-transition: all 0.4s ease-In-out; -moz-transition: all 0.4s ease-In-out; -o-transition: all 0.4s ease-In-out; transition: all 0.4s ease-In-out;}


/* SOCIAL CSS */
ul.social { font-size: 0px; }
ul.social li {display: inline-block;vertical-align: top;padding-right: 25px;}
ul.social li:last-child { padding-right: 0px; }
ul.social li a {width: auto;height: auto;display: inline-block;background: transparent;vertical-align: top;text-align: center;padding: 0;}
ul.social li a:hover { color: #222f3e; }
footer ul.social li i { color: #fff; font-size: 17px;margin: 0px; }



/* FORM CSS */
.field { margin-bottom: 20px; font-size: 0px; position: relative; }
.field span { color: #f00000;
    position: relative;
    /* right: 20px; */
    top: 0px;
    font-size: 16px;
    left: 11px;
    z-index: 999; }
.field input,
.field select,
.field textarea { height: 30px; line-height: 50px; width: 100%; border: 1px solid #e6e6e6; padding: 0 15px; font-size: 14px; color: #000; width: 100%; background: #fff;position: absolute; }
.half { display: inline-block; vertical-align: top; width: 47.1%; margin-right: 3%; }
.half.marRht { margin-right: 0px; }

.field input[type="submit"] { font-size: 14px; color: #fff; font-weight: 500; padding: 0; width: 177px; height: 55px; line-height: 55px; display: inline-block; border-radius: 60px; background: #6ca840; box-shadow: 0 20px 30px 0 rgba(108, 168, 64, 0.7); cursor: pointer; border: none; }
.field textarea { font-size: 14px; line-height: 22px; height: 130px; padding: 15px; resize: none; }
.field.noSpace{margin-bottom: 0px;}
.field1{margin-bottom: 0px;}
.top_80{top: 80px;}
.mr_top_90{margin-top: 90px;}

/* Custom Radio Button */

.customradio {display: inline-block;position: relative;margin-bottom: 0px;cursor: pointer;font-size: 14px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;color: #323232;vertical-align: middle;font-weight: 600;line-height: 25px;padding-left: 25px;}
.customradio input[type=radio] { position: absolute; opacity: 0; cursor: pointer; }
.checkmark {position: absolute;top: 5px;left: 0;height: 13px;width: 13px;border-radius: 0;border: 1px solid #afafaf;}
.customradio input[type=radio]:checked ~ .checkmark {     background: #6ca840;}




/* Social CSS */
.fb{background: #3b5998;}
.twi { background: #55acef; }
.lin { background: #0177b5; }
.google { background: #dd4b39; }
.rss { background: #3cb371; }
.ovr-hiddn { overflow: hidden; }

/* Heading Classes */
.mn-h59{font-size: 59px;}
.mn-h50{font-size: 50px;}
.mn-h40{font-size: 40px;}
.mn-h38{font-size: 38px;}
.mn-h36{font-size: 36px;}
.mn-h32{font-size: 32px;}
.mn-h30{font-size: 30px;}
.mn-h29{font-size: 29px;}
.mn-h26{font-size: 26px;}
.mn-h25{font-size: 25px;}
.mn-h23{font-size: 23px;}
.mn-h24{font-size: 24px;}
.mn-h22{font-size: 22px;}
.mn-h20{font-size: 20px;}
.mn-h19{font-size: 19px;}
.mn-h18{font-size: 18px;}
.mn-h17{font-size: 17px;}
.mn-h16{font-size: 16px;}
.mn-h15{font-size: 15px;}

.line26{line-height: 26px;}
.line27{line-height: 27px;}
.line28{line-height: 28px;}
.line29{line-height: 29px;}
.line30{line-height: 30px;}
.line40{line-height: 40px;}
.line50{line-height: 50px;}

.text-upp{text-transform: uppercase;}
.text-cap{text-transform: capitalize;}

.weight400{font-weight: 400;}
.weight500{font-weight: 500;}
.weight600{font-weight: 600;}
.weight700{font-weight: 700;}
.weight800{font-weight: 800;}
.weight900{font-weight: 900;}

.color1{color: #222f3e;}
.color2{color: #ffffff;}
.color3{color: rgba(34, 47, 62, 0.60);}
.color4{color: rgba(255, 255, 255, 0.60);}
.color5{color: #6ca840}
.color6{color: #8496aa;}
.color7{color: #2977bb;}
.color8{color: #282828;}

.bg-color { background: #f9fbfc; }

.space150{margin-bottom: 150px;}
.space100{margin-bottom: 100px;}
.space80{margin-bottom: 80px;}
.space70{margin-bottom: 70px;}
.space60{margin-bottom: 60px;}
.space50{margin-bottom: 50px;}
.space40{margin-bottom: 40px;}
.space30{margin-bottom: 30px;}
.space20{margin-bottom: 20px;}
.space15{margin-bottom: 15px;}
.space10{margin-bottom: 10px;}


/* header CSS */
.fixed{ position: fixed; top: 0px; left: 0px; width: 100%;}
.header { padding: 15px 0 10px; border-bottom: 1px solid #f0f3f4; -webkit-transition: all 0.4s ease-In-out; -moz-transition: all 0.4s ease-In-out; -o-transition: all 0.4s ease-In-out; transition: all 0.4s ease-In-out; }
.header.second{padding: 75px 0 35px;}
.header .row { align-items: center; }
.header .circle{width: 5px;height: 5px;border-radius: 50%;position: absolute;right: 150px;bottom: -50px;display: inline-block;background: #ff9a96;left: 0px;margin: auto;}

/* Menu Css */
ul.menu { font-size: 0px; display: inline-block; vertical-align: middle; }
ul.menu li { display: inline-block; vertical-align: middle; text-align: center; }
ul.menu li a { display: block; color: #222f3e; padding: 0 60px 0 0; font-size: 16px; position: relative; }
ul.menu li.last a { padding-right: 0px; }
ul.menu li:hover a,
ul.menu li.active a { color: #6ca840; }

/* Main Banner CSS */
.bannerSlider { position: relative; z-index: 1; }
.bannerSlider ul.slick-dots { padding: 0 0 0vh; position: relative; top: -50px; max-width: 1170px; text-align: left; margin: 0 auto; }
.bannerSlider .slick-slide { margin: 0px; }
.mainBanner { background-repeat: no-repeat; background-position: top center; display: flex; align-items: center; background-size: cover; height: 550px; }
.mainBanner p i { color: #6ca840; margin-right: 10px; }
.softwareList { font-size: 0px; display: block; }
.softwareList>li { display: inline-block; vertical-align: top; width: 25%; border-right: 1px solid #e8ebec; border-bottom: 1px solid #e8ebec;padding: 0 40px 20px; min-height: 389px;}
.softwareList>li.last { border-right: 0px; }
.softwareList img { margin: 25px auto }
.softwareList.style1>li{min-height: auto;}

.mainBanner.innerBanner{ height: 100px; background: #ebebeb;}





.place{background: url(../../../../../assets/images/placement/place.jpg) no-repeat top center/cover;display: flex;align-items: center;}

footer{background: #2b3d8f;/*padding: 50px 0 0;*/}
.contactList{font-size: 0px; display: block;}
/*.contactList>li{display: inline-block;vertical-align: middle;padding-right: 7px;position: relative;}*/
.contactList>li:before{content: "";background: rgba(255,255,255,0.1);width: 1px;height: 20px;position: absolute;right: 35px;top: 0px;bottom: 0px;margin: auto;}
.contactList>li.last:before{display: none;}
.contactList>li.last{padding-right: 0px;}
.contactList img,footer i{ display: inline-block;vertical-align: middle;margin-bottom: 2px;}

.copyrights{padding: 30px 0; border-top: 2px solid rgba(255,255,255,0.2)}

.email {position: relative;width: 100%;line-height: 47px;height: 47px;padding: 0 55px 0 20px;border: 2px solid rgba(255, 255, 255, 0.2);border-radius: 5px;}
.email input { width: 100%; height: 100%; font-size: 14px; font-weight: 500; color: #fff; line-height: 47px; display: block; }
.email input[type="submit"] { width: 47px; height: 47px; position: absolute; top: -2px; right: -2px; line-height: 47px; border-radius: 5px; background: #6ca740;     cursor: pointer;}
.email i { position: absolute; right: 3px; top: 13px; color: #fff; }

.email input::-webkit-input-placeholder { color:#fff; }
.email input::-moz-placeholder { color:#fff; }
.email input:-ms-input-placeholder { color:#fff; }
.email input:-moz-placeholder { color:#fff; }

.copyList{font-size: 0px; display: block;padding: 2vh 0 0;}
.copyList>li{display: inline-block;vertical-align: middle; padding: 0 20px;}
.copyList>li.first{padding-left: 0px;}
.copyList>li.last{padding-right: 0px;}
.copyList a{text-decoration: underline;}

.spanSlide{font-size: 0px; display: block; text-align: center;}
.spanSlide>li{display: block;}
.spanSlide span{background: #eceeef; width: auto;height: auto; border-radius: 50%; display: inline-block;}
.spanSlide span.span1{width: 8px; height: 8px;}
.spanSlide span.span2{width: 12px; height: 12px;}
.spanSlide li.slick-current span{width: 18px; height: 18px; background: #5e9748;}
.spanSlide .slick-list{overflow: visible;}

.imgList { display: block; font-size: 0px; position: relative; }
.imgList li { display: inline-block; vertical-align: top; width: auto !important; position: relative; }
.imgList .img1 { left: 40%; }
.imgList .img2 { top: 100px; left: -90px; }
.imgList .img3 { left: -407px; bottom: -370px; }
.imgList .img4 { left: 400px; }
.imgList .slick-slide { opacity: 0.5; margin: 0px; }
.imgList .slick-current { opacity: 1; z-index: 1; }
.imgList .slick-list { overflow: visible; margin: 0px; }
.imgList .slick-list { overflow: visible; margin: 0px; }

.contactSec { padding: 40px 0 80px; }
.contactSec .field input {
    padding: 0 30px 0 20px;
}
.contactTxt { padding-left: 50px; }
.infoList { font-size: 0px; display: block; }
.infoList>li { display: block; margin-bottom: 25px; }
.infoList a i,
.infoList a img { font-size: 20px; color: #5f9847; margin-right: 10px; display: inline-block; vertical-align: middle; }
.socialList { font-size: 0px; display: block; }
.socialList>li { display: inline-block; vertical-align: middle; padding: 0px 10px; }
.socialList>li.first { padding-left: 0px; }
.socialList a { font-size: 18px; color: #222f3e; }
.feaList { display: block; font-size: 0px; }
.feaList>li { display: inline-block; vertical-align: middle; padding-right: 30px; width: 50%; margin-bottom: 20px; }
.feaList>li:nth-child(2n) { padding-right: 0px; }
.login { padding: 40px 0 80px; }
.loginDiv { padding: 40px; background: #f6f6f6; }
.loginDiv .half { width: 48%; }
.loginDiv .field input:not([type="submit"]) { background: transparent; }
.freeTrial { padding: 40px 0 0; }
.paraList { display: block; margin-bottom: 20px; }
.paraList>li { display: block; }
.paraList p { font-weight: 600; color: #4d5c6d; margin-bottom: 10px; font-size: 13.5px; }
.paraList p span { color: #67ba3d; font-weight: bold; margin-right: 10px; }
.freeForm { padding: 30px; background: #f7f7f7; position: relative; }
.freeForm:before { content: ""; position: absolute; right: -100%; top: 0px; width: 100%; height: 100%; background: #f7f7f7; }
.freeForm label { font-size: 14px; color: #7d7d7d; font-weight: 400; margin-bottom: 12px; }
.freeForm .redMark { position: relative; left: 0px; top: 0px; line-height: normal; right: 0px; }
.freeForm input { background: transparent; } 

.packageTabs { font-size: 0px; display: inline-block; margin: 0 auto 50px; }
.packageTabs>li { display: inline-block; vertical-align: middle; }
.packageTabs>li a { border: 3px solid #6ea943; border-radius: 50px; display: inline-block; font-size: 16px; color: #68a442; font-weight: bold; padding: 20px 30px 18px; }
.packageTabs>li.first a { border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-right: 0px; }
.packageTabs>li.last a { border-top-left-radius: 0px; border-bottom-left-radius: 0px; border-left: 0; }
.packageTabs>li:hover a,
.packageTabs>li.active a { background: #6ba640; color: #fff; }
.packageList { font-size: 0px; display: block; }
.packageList>li { display: inline-block; vertical-align: top; margin-right: 30px; width: 30%; }
.packageList>li.last { margin-right: 0px; }

.packageBox span { display: block; }
.packageBox h6{display: inline-block;}
.packageBox h6 span{display: inline-block;}
.packageBox {background-repeat: no-repeat;background-position: top center;width: 100%;height: 100%;box-shadow: 0 20px 65px 0 rgba(0, 0, 0, 0.13);background-size: cover;padding: 30px 30px 50px;position: relative;border-radius: 10px;}
.packageBox.bg1 { background-image: url(../../../../../assets/images/packages/01.png); }
.packageBox.bg2 { background-image: url(../../../../../assets/images/packages/02.png); }
ul.priceItems>li { margin-bottom: 10px; }
.packageBox h6 span.mn-h16 { display: block; text-align: right; }

.packageBox .btn {position: absolute;left: 0px;right: 0px;margin: auto;width: 177px;bottom: -22px;}
.packageBox .btn.style1 {background: linear-gradient(to right, #279cd7, #296eb4);box-shadow: 0 20px 30px 0 rgba(41, 110, 180, 0.5);}

.emailList{font-size: 0px; display: block;}
.emailList>li{display: inline-block;vertical-align: top;width: 48.6%;margin-right: 10px;padding: 40px;box-shadow: 0 20px 60px 0 rgba(0,0,0,0.13);min-height: 304px;border-radius: 10px;}  
.firstLi{background: #61ae45!important;}
.lastLi{background: #2977bb;margin-right: 0px;}

.siteMapList{display: block;}
.siteMapList>li{margin-bottom: 20px;padding-left: 30px; position: relative;}
.siteMapList>li:before{content:"";position: absolute;left: 10px; top: 0px; bottom: 0px; width: 10px; height: 10px; border: 2px solid #ccc; border-radius: 50%;margin: auto;-webkit-transition: all 0.4s ease-In-out; -moz-transition: all 0.4s ease-In-out; -o-transition: all 0.4s ease-In-out; transition: all 0.4s ease-In-out; }

.siteMapList>li.last{margin-bottom: 0px;}
.siteMapList a{font-size: 16px; color: #000; font-weight: 500; }
.siteMapList li:hover a{color: #61ae45;}
.siteMapList li:hover:before{border-color: #61ae45;}


@media (max-width: 1200px){
	.menu-Bar { display: block; }
	.menuWrap.open { display: flex; left: 0px;text-align: center; }
	.menuWrap { position: fixed; left: -210%; right: 0; top: 0; bottom: 0; margin: auto; background: #6ca840; width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center; flex-flow: column; z-index: 2; }
	ul.menu li{display: block}
	ul.menu li a { margin-bottom: 2vh; padding-right: 0px; margin-right: 0px; color: #fff;padding: 0px; font-size: 14px;}
	ul.menu li a:hover{color: #000;}
	.header{padding: 2vh 0;}
	.logo img,.footLogo img{max-width: 60%;}
}

@media (max-width: 824px){
	.break_col { flex: 100%; max-width: 100%; justify-content: start !important; margin: 2vh 0; text-align: left !important; }
	br { display: none; }

	.bannerSlider .slick-slide { margin: 0 15px; }

	.mn-h59,
	.mn-h50,
	.mn-h40,
	.mn-h38,
	.mn-h36,
	.mn-h32,
	.mn-h30,
	.mn-h29,
	.mn-h26,
	.mn-h25{ font-size: 3vh; line-height: normal; }

	/*.mn-h24,
	.mn-h23,
	.mn-h22,
	.mn-h20,
	.mn-h19,
	.mn-h18,
	.mn-h17,
	.mn-h16,
	.mn-h15,
	p,
	a,.paraList p,.freeForm label { font-size: 2vh; line-height: normal; }*/

	.line26,
	.line27,
	.line28,
	.line29,
	.line30,
	.line40,
	.line50,
	p,
	a { line-height: normal; }

	.pad-sec,
	.pad-sec90,
	.pad-sec80,
	.pad-sec70,
	.pad-sec60,
	.pad-sec50,
	.pad-sec40,
	.pad-sec10,
	.placeSlide,
	footer,.copyrights,.contactSec,.login { padding: 2vh 0; }

	.space80,
	.space70,
	.space60,
	.space50,
	.space40,
	.space30,
	.space20,
	.space15,
	.space10,
	.spaceRes,.imgList .slick-slide,.field,.infoList>li,.feaList>li,.paraList p,.freeForm label,.field1,.packageTabs,ul.priceItems,.space150 { margin-bottom: 2vh; }

	.btn,.field input[type="submit"] { font-size: 11px; line-height: 40px; height: 40px;padding: 0px; }
	
	.softwareList img { margin: 2vh auto; }
	.imgList .img1 { left: 0%; }
	.imgList .img2 { top: 0; left: 0px; }
	.imgList .img3 { left: 0px; bottom: 0px; }
	.imgList .img4 { left: 0px; }
	.imgList li { width: 100% !important; }
	
	ul.slick-dots{ padding: 2vh 0; }
	
	.testimonials ul.slick-dots { display: none; }
	
	
	.nopad-top { padding-top: 2vh !important; }
	
	.contactList>li { display: block; width: 100%; margin: 0vh 0; }
	
	.contactList a i { font-size: 18px; }
	
	.contactList>li:before { display: none; }
	
	ul.social { margin: 2vh 0; }
	
	.copyList>li { display: block; padding: 1vh 0; }
	
	.copyrights p,.freeTrial { padding: 2vh 0 0; }

	.spanSlide .slick-slide{width: 100% !important; }

	.mainBanner.innerBanner{height: 10vh;}

	.half{width: 100%; margin-right: 0px;}
	.field input, .field select{height: 40px; line-height: 40px;font-size: 13px;}

	.contactTxt{padding: 20px 0;}
	.field span{top: 0px;}
	.field textarea{font-size: 13px;}

	.feaList>li{width: 100%; padding-right: 0px;}

	.loginDiv,.freeForm{padding: 20px;}
	.customradio{font-size: 11px; line-height: normal;}
	
	.paraList p{position: relative;padding-left: 15px;}
	.paraList p span{position: absolute;left: 0px; top: 0px;}
	.checkmark{top: 0px;}

	.packageTabs>li a{padding: 10px;font-size: 14px;}

	.packageList>li{width: 100%; margin-right: 0px;margin-bottom: 2vh;}

	.packageBox{margin: 20px 0;}
	.packageBox h4{margin-bottom: 70px;}

	.packageBox .btn{position: relative;bottom: 0px;}

	.emailList>li{margin: 0 0 20px; width: 100%;min-height: auto;padding: 30px;}
	.bannerSlider ul.slick-dots{text-align: center;top: 0px;}

}

@media (max-width: 767px){
		.spanSlide{display: none;}
}



@media (max-width: 575px){
	.pad-zero{padding: 0 15px;}
}

@media (max-width: 767px){
	.mainBanner{height: auto; padding: 2vh 0;}
	.ImgLeft{justify-content: flex-start !important;align-items: flex-start !important;}
}
.effect{
         position: absolute;
    background: #ccc;
    padding: 20px;
    right: -50px;
    display: none;
    cursor: pointer;
    text-align: left;
    border: transparent;
    border-radius: 30px;
    z-index: 999;
    top: 30px;
    transition: 0.5s;
    width: 400px;
}
.loginHover:hover .effect{
  display: block;
  cursor: pointer
}
.padd_5_14{
	padding: 5px 14px;
}
.input_pad{
	border-bottom: 1px solid #b1b1b1!important;
    padding: 4px 4px;
        width: 100%;
}
.pad_16{
	    padding: 16px 0;
}
.login_btn{
	    background: #2882c3;
    border: transparent;
    padding: 10px;
    margin-left: 14px;
    border-radius: 6px;
    color: #fff;
    cursor: pointer
}
.signup_btn{
	    background: #649f44;
    border: transparent;
    padding: 10px;
    /* margin-left: 14px; */
    border-radius: 6px;
    color: #fff;
    float: right;
    margin-right: 14px;
    cursor: pointer
}
.forgot_pswrd{
	    background: transparent;
    border: transparent;
    cursor: pointer;
    color: #3129a9;
}
.txt_right{
	text-align: right;
}

@media (min-width: 320px) and (max-width: 580px){
    .field span{
    top: 0px!important;
}
}

.marg_Left {
    margin-left: 15px!important;
}
.mrb_change{
    margin-bottom: 8%;
}

@media (min-width: 600px) and (max-width: 1000px){
    .marg_Left {
    margin-left: 0px!important;
}
}